/*!Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*!------------Конец обнуления-------------*/

html {
   scroll-behavior: smooth;
}

* {
   font-family: Roboto, sans-serif;
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
}

body {
   max-width: 1440px;
   margin: 0 auto;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1328px;
   margin: 0px auto;
}

/*!Переменные*/
:root {
   --main-bg-color: rgba(30, 72, 68, 1);
   --main-info-font-size: 19px;
   --main-info-line-height: 25.54px;
}

.info-text {
   font-size: var(--main-info-font-size);
   line-height: var(--main-info-line-height);
}

/**subscription-offer*/

.subscription-offer {
   height: 32px;
   font-size: 14px;
   line-height: 18.62px;
   color: rgba(255, 255, 255, 1);
   background-color: rgba(51, 43, 91, 1);
   display: flex;
   align-items: center;
   justify-content: center;
}

/**header*/

.header {
   background-color: var(--main-bg-color);
}

.header__container {
   height: 83px;
   padding-bottom: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__menu {
   display: flex;
   gap: 32px;
   margin-left: 18px;
}

.menu__item a,
.header__cart a {
   font-size: 16px;
   color: rgba(255, 255, 255, 1);
}

.header__logo {
   width: 118px;
   height: 46px;
   background: url(../assets/icons/logo.svg);
   position: relative;
   left: -130px;
}

/**first-screen*/
.first-screen {
   background: url(../assets/images/main-screen.jpg);
   background-repeat: no-repeat;
   background-position: center -115px;
   height: 590px;
}

.first-screen__container {
   height: 590px;
}

.title {
   font-size: 42px;
   line-height: 47px;
   letter-spacing: 0em;
}

.first-screen__title {
   width: 430px;
   font-weight: 400;
   padding-top: 85px;
   margin-bottom: 9px;
}

.first-screen__info {
   width: 320px;
   margin-bottom: 25px;
}

.button {
   border: 2px solid rgba(255, 255, 255, 1);
   background: transparent;
   border-radius: 0px 50px 50px 0px;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
}

.first-screen__button {
   width: 221px;
   height: 46px;
}

.first-screen__title,
.first-screen__info,
.first-screen__button {
   margin-left: 8px;
}

/**press*/

.press {
   position: relative;
   background: rgba(194, 216, 204, 1);
}

.press__container {
   height: 131px;
}

.press__container,
.press__list {
   display: flex;
   align-items: center;
   justify-content: center;
}

.press__list {
   margin-left: -25px;
}

#popshugar {
   margin-left: 30px;
   margin-right: 18px;
}

#byrdie {
   margin-left: 12px;
}

#elle {
   margin-right: -10px;
}

#rolling,
#elle,
#gq {
   margin-bottom: 10px;
}

#forbes,
#allure {
   margin-bottom: 12px;
}

#fastcompany {
   margin-right: 5px;
   margin-bottom: 18px;
}

.press__wave {
   width: 100%;
   height: 181px;
   background: url(../assets/images/wave.png);
   background-position: center 0;
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   top: -169px;
}

/**products*/

.products {
   display: flex;
}

.product {
   width: 50%;
   height: 860px;
   position: relative;
}

#product-day {
   background: url(../assets/images/product-day.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

#product-night {
   background: url(../assets/images/product-night.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

.product__info {
   width: 360px;
   position: absolute;
   left: 64px;
   bottom: 64px;
}

.product__title {
   font-size: 23px;
   line-height: var(--main-info-line-height);
   margin-bottom: 12px;
}

.product__description {
   margin-bottom: 60px;
   width: 215px;
}

#product-night .product__info .product__description {
   width: 220px;
   color: rgba(155, 154, 199, 1);
}

.product__button {
   width: 232px;
   height: 43px;
}

/**reviews*/

.reviews {
   background: var(--main-bg-color);
   height: 491px;
}

.reviews__container {
   padding: 0px 75px;
}

.reviews__title {
   font-weight: 700;
   font-size: 19px;
   line-height: 21px;
   text-transform: uppercase;
   text-align: center;
   padding-top: 65px;
   margin-bottom: 67px;
}

.review__title,
.review__text {
   color: rgba(194, 216, 204, 1);
   text-align: center;
}

.review__text {
   margin-top: 51px;
   margin-bottom: 34px;
}

.review__name {
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
}

/**prod-description*/

.prod-description {
   background: rgba(193, 82, 68, 1);
   height: 1050px;
   display: flex;
}

.prod-description__info {
   width: 50%;
   margin-top: 199px;
   padding: 65px;
}

.prod-description__img {
   width: 50%;
   height: 720px;
   margin-top: 65px;
   background: url(../assets/images/product-image.jpg);
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 223px 0px 0px 223px;
}

.prod-description__title,
.prod-description__text {
   color: rgba(250, 233, 214, 1);
}

.prod-description__title {
   margin-bottom: 12px;
}

.prod-description__text {
   margin-bottom: 17px;
}

/**approach*/

.approach {
   height: 906px;
   background: rgba(155, 154, 199, 1);
}

.approach__container {
   padding-top: 65px;
}

.approach__title {
   text-align: center;
   font-weight: 700;
   color: rgba(51, 43, 91, 1);
   margin-bottom: 75px;
}

.approach__info {
   display: flex;
}

.approach__scheme,
.approach__description {
   width: 50%;
}

.approach__scheme {
   padding: 0 65px;
   margin-left: 5px;
}

.scheme__element {
   position: relative;
   height: 65px;
   margin-bottom: 65px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #FFFFFF;
}

.scheme__element:first-child {
   background: rgba(218, 106, 102, 1);
}

.scheme__element::after {
   content: "";
   position: absolute;
   bottom: -65px;
   left: calc(50% - 8px);
   width: 16px;
   height: 65px;
   background: url(../assets/icons/separator.svg);
}

.scheme__element:last-child::after {
   display: none;
}

.approach__description {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 69px 61px 69px;
   margin-right: 5px;
}

.description__img {
   width: 262px;
   height: 369px;
   background: url(../assets/images/description-img.png);
   margin-bottom: 70px;
}

.description__text {
   text-align: center;
   padding: 0 5px;
   color: rgba(51, 43, 91, 1);
}

/**advantages*/

.advantages {
   display: flex;
}

.advantages__img,
.advantages__info {
   width: 50%;
   height: 720px;
}

.advantages__img {
   background: url(../assets/images/advantages-img.jpg);
}

.advantages__info {
background: rgba(51, 43, 91, 1);
display: flex;
flex-direction: column;
justify-content: center;
padding: 0px 65px;
}

.advantages__title,
.advantages__description,
.advantage,
.advantages__button {
   color: rgba(250, 233, 214, 1);
}

.advantages__title {
   margin-top: 25px;
   margin-bottom: 12px;
}

.advantages__description {
   margin-bottom: 45px;
}

.advantage {
   font-size: 23px;
   line-height: 25px;
}

.advantages__list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   column-gap: 32px;
   row-gap: 21px;

}

.advantages__button {
   width: 223px;
   height: 46px;
   font-weight: 400;
   border-color: rgba(250, 233, 214, 1);
   position: relative;
   top: -10px;
}


